.Poker-table
  background-color: black
  color: antiquewhite
  .Poker
    display: inline-block
    font-size: 2em
  .sites-list
    .poker-card
      width: 80px
  .bet-control
    .current-bet
      font-size: 2em
    .poker-card
      width: 100px
